.sidebar {
    background-color: aqua;
    grid-area: sidebar;
}

.header {
    background-color: red;
    grid-area: header;
}

.main-content {
    background-color: green;
    grid-area: main-content;
}

.container {
    display: grid;
    grid-template-areas: "sidebar header"
        "sidebar main-content";
    gap: 15px;
}

.card {
    background-color: white;
    border-radius: 10px solid;
}

.main-content {
    display: grid;
    grid-template-areas: "post-area announcements-area"
        "post-area trending-area";
    gap: 15px;
}

.post-area {
    grid-area: post-area;
}

.announcements-area {
    grid-area: announcements-area;
}

.trending-area {
    grid-area: trending-area;
}

.side-content {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
    margin-left: 15px;
}

.side-content svg {
    width: 20px;
    /* Adjust size of the icons */
    height: 20px;
    margin-right: 10px;
    /* Add space between the icon and text */
}